body {
}

.fa {
    position: relative;
}

    /*replace the content value with the
corresponding value from the list below*/

    .fa:before {
        content: "\f000";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        /*--adjust as necessary--*/
        color: #000;
        /*font-size: 18px;*/
        padding-right: 0.5em;
        position: absolute;
        top: 10px;
        left: 0;
    }
.fa-user:before {
    content: "\f007"
}
.fa-key:before {
    content: "\f084"
}